.App {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  background: peachpuff;
}
.App main {
  overflow: auto;
}

.App img {
  height: 150px;
}

.App .loading {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: 300px;
  object-fit: contain;
}